streamlit==1.46.1
transformers==4.41.2
torch==2.3.1
torchvision==0.18.1
sentencepiece==0.2.0
accelerate==0.31.0
protobuf==5.27.2
safetensors==0.4.3
tokenizers==0.19.1
deep-translator==1.11.4
langdetect==1.0.9
pyspellchecker==0.8.2
pip install --upgrade pip
